# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  batch: true
  branches:
    include:
    - main
    - develop

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- checkout: self
  clean: true
  fetchDepth: 0

- task: SonarCloudPrepare@3
  displayName: 'Prepare analysis on SonarCloud'
  inputs:
    SonarCloud: 'SonarCloud - Extensions.AspNetCore'
    organization: 'azure-stussy2112'
    scannerMode: 'dotnet'
    projectKey: 'stussy2112_Karma.Extensions.AspNetCore'
    projectName: Karma.Extensions.AspNetCore
    extraProperties: |
      sonar.exclusions=**/obj/**,**/*.dll,**/samples/**
      sonar.cs.opencover.reportsPaths="$(Common.TestResultsDirectory)/Coverage/coverage.*opencover.xml"
      sonar.cs.vstest.reportsPaths="$(Common.TestResultsDirectory)/**/*.trx"
      sonar.scanner.scanAll=false
      sonar.scanner.skipJreProvisioning=true

- task: UseDotNet@2
  displayName: 'Use .NET SDK 8.x'
  inputs:
    packageType: sdk
    version: '8.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: DotNetCoreCLI@2
  displayName: 'Restore NuGet packages'
  inputs:
    command: 'restore'
    projects: '$(solution)'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build solution'
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--no-restore --configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Run unit tests'
  inputs:
    command: 'test'
    projects: '**/*tests/**/*.csproj'
    arguments: '--no-restore --no-build --configuration $(BuildConfiguration) --results-directory $(Common.TestResultsDirectory) --collect "XPlat Code Coverage" --logger "trx;test-output.trx"'
    testRunTitle: 'Unit Tests'
    publishTestResults: false

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '*.trx'
    searchFolder: '$(Common.TestResultsDirectory)'

- task: SonarCloudAnalyze@3
  displayName: 'Run Code Analysis'
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'

- task: SonarCloudPublish@3
  displayName: 'Publish Quality Gate Result'
  inputs:
    pollingTimeoutSec: '300'

